---
title: Weryfikacja konta dziecka w usłudze 8000038 GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 01/24/2019
ms.locfileid: "29483161"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="e89be-102">Data urodzenia na koncie Microsoft jest niepoprawny</span><span class="sxs-lookup"><span data-stu-id="e89be-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="e89be-p101">Microsoft bardzo poważnie traktuje zabezpieczenia konta. Możesz, mają został niedawno monit o podanie zgody rodziców na konto Microsoft dziecka. Jeśli potrzebujesz pomocy, zapewniając zgody rodziców lub aktualizowania daty urodzenia na konto Microsoft, zobacz [weryfikacji wieku zgody rodziców](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="e89be-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="e89be-106">Dowiedz się więcej o [zgodę rodziców i kont podrzędnych firmy Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="e89be-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

