---
title: Weryfikacja w przypadku EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814382"
---
# <a name="edu-verification"></a>Weryfikacja w przypadku EDU

W większości przypadków żądania uprawnień akademickich są przetwarzane w ciągu 24–48 godzin. Niektóre żądania mogą wymagać bardziej szczegółowego przejrzenia i przetwarzania ich może potrwać do 10 dni roboczych. Po ukończeniu wyślemy wiadomość e-mail ze stanem uprawnień Twojej szkoły.

**Ważne** Jeśli kreator weryfikacji został wcześniej przez Ciebie [](https://go.microsoft.com/fwlink/p/?linkid=2135255) wyzowany przed wprowadzeniem domeny, możesz w dowolnym momencie wznowić działanie kreatora weryfikacji dla instytucji akademickich w ramach bezpłatnej wersji próbnej.

Jeśli chcesz sprawdzić stan swojej domeny, przejdź do centrum administracyjnego platformy [Microsoft 365.](https://go.microsoft.com/fwlink/p/?linkid=2024339) Na stronie głównej przewiń w dół i znajdź **kartę Rozliczenia.** Na **karcie Rozliczenia** jest wskazywany stan procesu weryfikacji (zatwierdzone, oczekujące, odrzucone lub dodanie domeny).

Jeśli Twoja prośba zostanie odrzucona, zobacz [Moja szkoła nie jest kwalifikowana. Co teraz zrobić?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)