---
title: Weryfikacja EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205277"
---
# <a name="edu-verification"></a><span data-ttu-id="0786d-102">Weryfikacja EDU</span><span class="sxs-lookup"><span data-stu-id="0786d-102">EDU verification</span></span>

<span data-ttu-id="0786d-103">W większości przypadków wnioski o uprawnienia akademickie są przetwarzane w ciągu 24-48 godzin.</span><span class="sxs-lookup"><span data-stu-id="0786d-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="0786d-104">Niektóre żądania mogą wymagać dokładniejszego przeglądu i mogą potrwać do 10 dni roboczych.</span><span class="sxs-lookup"><span data-stu-id="0786d-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="0786d-105">Po zakończeniu, wyślemy wiadomość e-mail ze statusem twojej szkoły.</span><span class="sxs-lookup"><span data-stu-id="0786d-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="0786d-106">**Ważne** Jeśli kreator weryfikacji został już po zakończeniu procesu weryfikacyjnego przed wejściem do domeny, możesz [wznowić kreatora weryfikacji akademickiej](https://go.microsoft.com/fwlink/p/?linkid=2135255) w dowolnym momencie podczas bezpłatnej wersji próbnej.</span><span class="sxs-lookup"><span data-stu-id="0786d-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="0786d-107">Jeśli chcesz sprawdzić stan domeny, przejdź do [centrum administracyjnego usługi Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="0786d-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="0786d-108">Na stronie głównej przewiń do dołu i znajdź kartę **rozliczeniową.**</span><span class="sxs-lookup"><span data-stu-id="0786d-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="0786d-109">Karta **rozliczeniowa** wskazuje stan procesu weryfikacji (zatwierdzonego, oczekującego, odrzuconego lub dodaj domenę).</span><span class="sxs-lookup"><span data-stu-id="0786d-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="0786d-110">Jeśli twoja prośba zostanie odrzucona, zobacz [Moja szkoła nie kwalifikuje się. Co mam teraz zrobić?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="0786d-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>