---
title: Weryfikacja w przypadku EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814382"
---
# <a name="edu-verification"></a><span data-ttu-id="a6c97-102">Weryfikacja w przypadku EDU</span><span class="sxs-lookup"><span data-stu-id="a6c97-102">EDU verification</span></span>

<span data-ttu-id="a6c97-103">W większości przypadków żądania uprawnień akademickich są przetwarzane w ciągu 24–48 godzin.</span><span class="sxs-lookup"><span data-stu-id="a6c97-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="a6c97-104">Niektóre żądania mogą wymagać bardziej szczegółowego przejrzenia i przetwarzania ich może potrwać do 10 dni roboczych.</span><span class="sxs-lookup"><span data-stu-id="a6c97-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="a6c97-105">Po ukończeniu wyślemy wiadomość e-mail ze stanem uprawnień Twojej szkoły.</span><span class="sxs-lookup"><span data-stu-id="a6c97-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="a6c97-106">**Ważne** Jeśli kreator weryfikacji został wcześniej przez Ciebie [](https://go.microsoft.com/fwlink/p/?linkid=2135255) wyzowany przed wprowadzeniem domeny, możesz w dowolnym momencie wznowić działanie kreatora weryfikacji dla instytucji akademickich w ramach bezpłatnej wersji próbnej.</span><span class="sxs-lookup"><span data-stu-id="a6c97-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="a6c97-107">Jeśli chcesz sprawdzić stan swojej domeny, przejdź do centrum administracyjnego platformy [Microsoft 365.](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="a6c97-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="a6c97-108">Na stronie głównej przewiń w dół i znajdź **kartę Rozliczenia.**</span><span class="sxs-lookup"><span data-stu-id="a6c97-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="a6c97-109">Na **karcie Rozliczenia** jest wskazywany stan procesu weryfikacji (zatwierdzone, oczekujące, odrzucone lub dodanie domeny).</span><span class="sxs-lookup"><span data-stu-id="a6c97-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="a6c97-110">Jeśli Twoja prośba zostanie odrzucona, zobacz [Moja szkoła nie jest kwalifikowana. Co teraz zrobić?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="a6c97-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>