---
title: Weryfikacja w przypadku EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946760"
---
# <a name="edu-verification"></a>Weryfikacja w przypadku EDU

W większości przypadków żądania uprawnień akademickich są przetwarzane w ciągu 24–48 godzin. Niektóre żądania mogą wymagać bardziej szczegółowego przejrzenia i przetwarzania ich może potrwać do 10 dni roboczych. Po ukończeniu wyślemy wiadomość e-mail ze stanem uprawnień Twojej szkoły.

**Ważne** Jeśli kreator weryfikacji został wcześniej przez Ciebie [](https://go.microsoft.com/fwlink/p/?linkid=2135255) wyzowany przed wprowadzeniem domeny, możesz w dowolnym momencie wznowić działanie kreatora weryfikacji dla instytucji akademickich w ramach bezpłatnej wersji próbnej.

Jeśli chcesz sprawdzić stan swojej domeny, przejdź do [centrum administracyjne platformy Microsoft 365.](https://go.microsoft.com/fwlink/p/?linkid=2024339) Na stronie głównej przewiń w dół i znajdź **kartę Rozliczenia.** Na **karcie Rozliczenia** jest wskazywany stan procesu weryfikacji (zatwierdzone, oczekujące, odrzucone lub dodanie domeny).

Jeśli Twoja prośba zostanie odrzucona, zobacz [Moja szkoła nie jest kwalifikowana. Co teraz zrobić?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)