---
title: Weryfikacja EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205277"
---
# <a name="edu-verification"></a>Weryfikacja EDU

W większości przypadków wnioski o uprawnienia akademickie są przetwarzane w ciągu 24-48 godzin. Niektóre żądania mogą wymagać dokładniejszego przeglądu i mogą potrwać do 10 dni roboczych. Po zakończeniu, wyślemy wiadomość e-mail ze statusem twojej szkoły.

**Ważne** Jeśli kreator weryfikacji został już po zakończeniu procesu weryfikacyjnego przed wejściem do domeny, możesz [wznowić kreatora weryfikacji akademickiej](https://go.microsoft.com/fwlink/p/?linkid=2135255) w dowolnym momencie podczas bezpłatnej wersji próbnej.

Jeśli chcesz sprawdzić stan domeny, przejdź do [centrum administracyjnego usługi Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na stronie głównej przewiń do dołu i znajdź kartę **rozliczeniową.** Karta **rozliczeniowa** wskazuje stan procesu weryfikacji (zatwierdzonego, oczekującego, odrzuconego lub dodaj domenę).

Jeśli twoja prośba zostanie odrzucona, zobacz [Moja szkoła nie kwalifikuje się. Co mam teraz zrobić?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)