---
title: 8000038 Weryfikacja konta dziecka RODO
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764990"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="db06f-102">Data urodzenia wyświetlana na koncie Microsoft jest nieprawidłowa</span><span class="sxs-lookup"><span data-stu-id="db06f-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="db06f-103">Microsoft bardzo poważnie traktuje bezpieczeństwo konta.</span><span class="sxs-lookup"><span data-stu-id="db06f-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="db06f-104">Być może ostatnio zostałeś poproszony o wyrażenie zgody rodzica na konto Microsoft dziecka.</span><span class="sxs-lookup"><span data-stu-id="db06f-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="db06f-105">Jeśli potrzebujesz pomocy w udzielaniu zgody rodziców lub aktualizowaniu daty urodzenia na koncie Microsoft, zobacz [Weryfikacja wieku w celu uzyskania zgody rodzica.](https://go.microsoft.com/fwlink/p/?linkid=874364)</span><span class="sxs-lookup"><span data-stu-id="db06f-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="db06f-106">Dowiedz się więcej o [zgodzie rodziców i kontach dziecka Firmy Microsoft.](https://go.microsoft.com/fwlink/p/?linkid=874365)</span><span class="sxs-lookup"><span data-stu-id="db06f-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  