---
title: Weryfikacja konta dziecka w usłudze 8000038 GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775846"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="ea0fe-102">Data urodzenia na koncie Microsoft jest niepoprawny</span><span class="sxs-lookup"><span data-stu-id="ea0fe-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="ea0fe-103">Microsoft bardzo poważnie traktuje zabezpieczenia konta.</span><span class="sxs-lookup"><span data-stu-id="ea0fe-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="ea0fe-104">Możesz, mają został niedawno monit o podanie zgody rodziców na konto Microsoft dziecka.</span><span class="sxs-lookup"><span data-stu-id="ea0fe-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="ea0fe-105">Jeśli potrzebujesz pomocy, zapewniając zgody rodziców lub aktualizowania daty urodzenia na konto Microsoft, zobacz [weryfikacji wieku zgody rodziców](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="ea0fe-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="ea0fe-106">Dowiedz się więcej o [zgodę rodziców i kont podrzędnych firmy Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="ea0fe-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

