---
title: 8000038 weryfikacji konta dziecka w związku z RODO
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057004"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Data urodzenia wyświetlana na koncie Microsoft jest nieprawidłowa

Firma Microsoft bardzo poważnie bierze pod uwagę bezpieczeństwo. Ostatnio mógł zostać wyświetlony monit o wyrażenie zgody rodzicielskiej na konto Microsoft dziecka. Jeśli potrzebujesz pomocy w udzielaniu zgody rodzicielskiej lub aktualizowaniu daty urodzenia na koncie Microsoft, zobacz Weryfikacja wieku [w celu wyrażenia zgody rodzicielskiej.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Dowiedz się więcej o [zgodzie rodzicielskiej i kontach Microsoft dzieci.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  