---
title: Weryfikacja konta dziecka w usłudze 8000038 GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524421"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Data urodzenia na koncie Microsoft jest niepoprawny

Microsoft bardzo poważnie traktuje zabezpieczenia konta. Możesz, mają został niedawno monit o podanie zgody rodziców na konto Microsoft dziecka. Jeśli potrzebujesz pomocy, zapewniając zgody rodziców lub aktualizowania daty urodzenia na konto Microsoft, zobacz [weryfikacji wieku zgody rodziców](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Dowiedz się więcej o [zgodę rodziców i kont podrzędnych firmy Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  