---
title: Rozwiązywanie problemów z weryfikacją wydawcy
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885367"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problemy związane z weryfikacją wydawcy dla programistów

**Zalecane kroki** 

Aby wyeliminować problemy związane z weryfikacją wydawcy, wykonaj poniższe czynności:

1. Sprawdź wymagania wstępne i inne wymagania, aby upewnić się, że są one spełnione.
2. Przejrzyj instrukcje, aby [oznaczyć aplikację jako zweryfikowaną przez program Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) i zapewnić pomyślne wykonanie wszystkich kroków.
3. Przejrzyj listę [typowych problemów](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) i wykonaj zalecane czynności, jeśli masz problem z taką listą.
4. Odtwórz żądanie za pomocą [Eksploratora wykresu](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) , aby zebrać dodatkowe informacje i wykluczyć problemy w interfejsie użytkownika.

**Polecane dokumenty**

- [Weryfikacja wydawcy — Omówienie](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Oznaczanie aplikacji jako zweryfikowanej w programie Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Rozwiązywanie problemów z weryfikacją wydawcy](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

