---
title: Rozwiązywanie problemów z weryfikacją wydawcy
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885367"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="41beb-102">Problemy związane z weryfikacją wydawcy dla programistów</span><span class="sxs-lookup"><span data-stu-id="41beb-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="41beb-103">**Zalecane kroki**</span><span class="sxs-lookup"><span data-stu-id="41beb-103">**Recommended steps**</span></span> 

<span data-ttu-id="41beb-104">Aby wyeliminować problemy związane z weryfikacją wydawcy, wykonaj poniższe czynności:</span><span class="sxs-lookup"><span data-stu-id="41beb-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="41beb-105">Sprawdź wymagania wstępne i inne wymagania, aby upewnić się, że są one spełnione.</span><span class="sxs-lookup"><span data-stu-id="41beb-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="41beb-106">Przejrzyj instrukcje, aby [oznaczyć aplikację jako zweryfikowaną przez program Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) i zapewnić pomyślne wykonanie wszystkich kroków.</span><span class="sxs-lookup"><span data-stu-id="41beb-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="41beb-107">Przejrzyj listę [typowych problemów](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) i wykonaj zalecane czynności, jeśli masz problem z taką listą.</span><span class="sxs-lookup"><span data-stu-id="41beb-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="41beb-108">Odtwórz żądanie za pomocą [Eksploratora wykresu](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) , aby zebrać dodatkowe informacje i wykluczyć problemy w interfejsie użytkownika.</span><span class="sxs-lookup"><span data-stu-id="41beb-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="41beb-109">**Polecane dokumenty**</span><span class="sxs-lookup"><span data-stu-id="41beb-109">**Recommended documents**</span></span>

- [<span data-ttu-id="41beb-110">Weryfikacja wydawcy — Omówienie</span><span class="sxs-lookup"><span data-stu-id="41beb-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="41beb-111">Oznaczanie aplikacji jako zweryfikowanej w programie Publisher</span><span class="sxs-lookup"><span data-stu-id="41beb-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="41beb-112">Rozwiązywanie problemów z weryfikacją wydawcy</span><span class="sxs-lookup"><span data-stu-id="41beb-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

